body{
  font-family: "poppins",sans-serif;
  overflow-x: hidden;
  /* background-color:#040a36; */
 }

*,::after,::before{
  box-sizing: border-box;
  margin: 0;
  padding:0;
 } 
.container{
  max-width:1400px !important;
  width:100%;
  margin: 0 auto; 
}
img{
  display:block;
  max-width: 100%;
  height:auto;;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,p,.p {
  margin: 0;
  padding:0;
}

.progress-bar{
  background-color:#FD6F00 !important;
}
@media (min-width:1400px) {
  
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1440px;
  }
  }
  
@media (min-width:1900px) {
  
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1620px;
  }
  }