 .name{ 
font-family: Poppins;
font-size: 65px;
font-weight: 600;
line-height: 97.5px;
letter-spacing: 0.03em; 
color:#000;
 }
 .description{
    font-family: Poppins;
font-size: 21px;
font-weight: 400;
line-height: 31.5px;
letter-spacing: 0.03em; 
color:#000; 
 }
 @media (max-width: 572px) {
   .name {
     font-size: 35px;
     text-align: center;
     line-height: 50px;
   }
   .description {
     font-size: 16px;
     text-align: center;
   }
 }